.title {
  justify-self: center;
  line-height: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.globalContainer {
  height: 100vh;
  width: 100vw;
}

.appContainer {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.left{
  width: 40vw;
  margin-left:1rem;
  justify-content: center;
}

.right {
  width: 40vw;
  margin-left:3rem;
  margin-right: 2rem;
  justify-content: center;
}

